/* проверка связи */
#web {
  width: 400vw;
  height: 300vh;
  display: flex;
  position: absolute;
  transform: translate(100vw, 0);
  z-index: 1000;
  transition: 0.4s;
}
#webVertical {
  display: flex;
  position: relative;
}

.scrin {
  width: 100vw;
  height: 100vh;
  border: #000000;
  background-color: #f9f5f5;
  opacity: 0.9;
  transition: 0.4s;
}
@media (min-width: 1368px) {
  .scrin {
    overflow-x: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    overflow-y: scroll;
  }
}

body {
  overflow: hidden;
  max-width: 60%;
  max-height: 60%;
  transition: 0.4s;
  width: 100%;
  height: 100vh;
  margin: 0;
  display: inline-block;
  position: relative;
  justify-content: center;
  align-items: center;
  background-image: url("img/background-img.jpg");
  background-attachment: fixed;
  background-size: 110%;
  background-position: 0% 50%;
  background-repeat: no-repeat;
}

#headTitle {
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 400px;
  padding: 10px;
  top: 45%;
  text-align: center;
  position: absolute;
  overflow: hidden;
  transition: 0.4s;
  z-index: 1000;
}

div.cont-home-icon {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
  top: -170px;
  left: 40px;
  height: 75px;
  z-index: 1100;
  transition: 0.8s;
}

img.home-icon {
  height: 70px;
  margin: 0 0 24px 0;
  cursor: pointer;
}

header h1 {
  font-family: "aviano-future", sans-serif;
  font-weight: 700;
  font-style: italic;
  margin: 5px 0 0 160px;
  font-size: 74px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  position: fixed;
  left: 12%;
}

header div.header-side {
  position: relative;
  left: 0px;
  height: 337px;
  width: 147px;
  border: 4px solid #ffffff;
  border-color: #ffffff #ababab transparent transparent;
  transform: rotate(45deg);
  margin: 20px;
  transition: 0.4s;
}

@media (max-width: 1368px) {
  header h1 {
    font-size: 32px;
    left: 7%;
  }
}

#frontEndlogo {
  position: relative;
  width: 140px;
  height: 120px;
  padding-left: 2%;
  padding-top: 10px;
}

@media (max-width: 1368px) {
  #frontEndlogo {
    position: relative;
    padding-left: 2%;
    padding-right: 10px;
    padding-top: 40px;
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 1368px) {
  #frontEndlogo {
    width: 140px;
    height: 120px;
    padding-top: 10px;
  }
}

#search {
  position:absolute;
  top: -220px;
  left: calc(100vw - 500px);
  display: flex;
  justify-content:center;
  align-items:center;
  grid-gap:20px; 
  width: 450px;
  height: 50px;
  background-color: #000000;
  padding: 5px;
  border-radius: 10px;
  z-index: 1300;
  transition: 0.8s;
}

#search-list {
  position: absolute;
  top: 50px;
  width: 450px;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow-y: scroll;
  display: none;
  transition: 0.4s;
  z-index: 4000;
}

#search-list li {
  border-bottom: solid grey 2px;
  padding: 5px;
  margin: 0px 20px 0px 0px;
  cursor: pointer;
  transition: 0.3s;
  
}

#search-input {
  position:relative;
  width: 350px;
  height: 30px;
  border-radius: 10px;
  background-color: #DDDDDD;
  outline:none;
  color: #555555;
}

#searchButton {
  position: relative;
  background-color: none;
  border:2px solid white;
  z-index:101;
  height: 15px;
  width: 15px;
  cursor:pointer;
  border-radius:50%;
}


#searchButton::after {  
  content:" ";
  position:relative;
  top:106%;
  z-index:50;
  left:87%;
  display:block;
  width:9px;
  height:2px;
  background-color:white;
  transform:rotate(45deg) ;

}

#krest {
  position: relative;
  z-index: 101;
  height: 15px;
  width: 15px;
  cursor: pointer; 
}

  #krest::before {
      content: " ";
      position: relative;
      top: 52%;
      z-index: 50;
      left: 3%;
      display: block;
      width: 20px;
      height: 2px;
      background-color: #AAAAAA;
      transform: rotate(45deg);
  }
  #krest::after {
      content: " ";
      position: relative;
      top: 35%;
      z-index: 50;
      left: 3%;
      display: block;
      width: 20px;
      height: 2px;
      background-color: #AAAAAA;
      transform: rotate(-45deg);
  }

nav ul {
  position: absolute;
  display: flex;
  list-style: none;
  padding: 40px 40px 40px 100px;
  top: 40px;
  left: 10vw;
}

nav ul li {
  position: relative;
  display: flex;
  margin: 0 30px 0 150px;
  cursor: pointer;
}

/* Стартовые настройки подменю */
.cont-menu {
  position: absolute;
  z-index: 100;
  width: 300px;
  height: 300px;
  /*border: 5px solid red;*/
}

.arc {
  position: absolute;
  width: 133px;
  height: 213px;
  z-index: 700;
  border: 4px solid #9a9a9a;
  border-color: transparent #9a9a9a transparent transparent;
  border-radius: 50%;
  transform: rotate(10deg);
  opacity: 0.1;
  transition: 0.3s ease;
}
li:nth-child(1) div.arc {
  border-color: transparent rgba(154, 57, 25, 0.6) transparent transparent;
}
li:nth-child(2) div.arc {
  border-color: transparent rgba(67, 73, 191, 0.6) transparent transparent;
}
li:nth-child(3) div.arc {
  border-color: transparent rgba(203, 180, 63, 0.6) transparent transparent;
}
li:nth-child(4) div.arc {
  border-color: transparent rgba(122, 190, 59, 0.6) transparent transparent;
}

.submenu-circle {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 50px);
  width: 100px;
  height: 50px;
  z-index: 2000;
  border-radius: 25px;
  overflow: hidden;
  background-position: center;
  background-size: 80px;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s ease;
}

nav ul li a {
  align-items: flex-start;
  display: block;
  z-index: 2100;
  overflow: hidden;
  height: 260px;
  transition: 0.3s ease;
}

/* Устанавливаем цвета фона подменю */

li:nth-child(1) div.submenu-circle {
  background-color: rgba(224, 46, 0, 0.9);
  border: 3px solid #c31400;
}
li:nth-child(2) div.submenu-circle {
  background-color: rgba(0, 110, 186, 0.9);
  border: 3px solid rgb(0, 11, 190);
}
li:nth-child(3) div.submenu-circle {
  background-color: rgba(228, 189, 0, 0.9);
  border: 3px solid rgb(137, 112, 11);
}
li:nth-child(4) div.submenu-circle {
  background-color: rgba(167, 200, 0, 0.9);
  border: 3px solid rgb(65, 101, 24);
}

/* Устанавливаем изображения подменю */

li:nth-child(1) div.submenu-circle:nth-child(1) {
}
li:nth-child(1) div.submenu-circle:nth-child(2) {
}
li:nth-child(1) div.submenu-circle:nth-child(3) {
}
li:nth-child(1) div.submenu-circle:nth-child(4) {
  background-image: url("img/submenu/multipoint.png");
  background-size: 45px;
}

li:nth-child(2) div.submenu-circle:nth-child(1) {
  font-size: 20px;
}
li:nth-child(2) div.submenu-circle:nth-child(2) {
}
li:nth-child(2) div.submenu-circle:nth-child(3) {
}
li:nth-child(2) div.submenu-circle:nth-child(4) {
  background-image: url("img/submenu/multipoint.png");
  background-size: 45px;
}

li:nth-child(3) div.submenu-circle:nth-child(1) {
  background-image: url("img/submenu/nodejs.svg");
}

li:nth-child(3) div.submenu-circle:nth-child(2) {
  background-image: url("img/submenu/react.svg");
}

li:nth-child(3) div.submenu-circle:nth-child(3) {
  background-image: url("img/submenu/jquery.png");
}

li:nth-child(3) div.submenu-circle:nth-child(4) {
  background-image: url("img/submenu/multipoint.png");
  background-size: 45px;
}

li:nth-child(4) div.submenu-circle:nth-child(1) {
  background-image: url("img/submenu/docker.svg");
}

li:nth-child(4) div.submenu-circle:nth-child(2) {
  background-image: url("img/submenu/sql.svg");
}

li:nth-child(4) div.submenu-circle:nth-child(3) {
  background-image: url("img/submenu/github.svg");
}

li:nth-child(4) div.submenu-circle:nth-child(4) {
  background-image: url("img/submenu/multipoint.png");
  background-size: 45px;
}

@media (max-width: 1368px) {
  nav ul li a {
    font-size: 18px;
  }
}

nav ul li a:hover {
  color: rgb(86, 215, 255);
}

nav ul li a:active {
  color: white;
}

nav ul li a img {
  padding: 0px;
  z-index: 1200;
}

.nav-icon {
  display: inline-block;
  z-index: 1300;
  width: 170px;
  padding-top: 30px;
  cursor: pointer;
}

@media (max-width: 1368px) {
  .nav-icon {
    width: 35px;
    height: 35px;
    padding-left: 18px;
  }
}

.menu-text {
  display: inline-block;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .menu-text {
    display: none;
  }
}

h2 /*заголовок для контактов*/ {
  color: #ffffff;
  padding-left: 5%;
  font-size: 2em;
}
footer p {
  background-color: #000000;
  top: 95vh;
  width: 100vw;
  height: 20px;
  position: absolute;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
  z-index: 1000;
}

#homeBtn {
  border-radius: 3px solid #000000;
  position: relative;
}

/* .scrollBtnUp.downButton {
  width: 50px;
  height: 50px;
  position: relative;
  background-color: aliceblue;
  margin-top: 50%;
} */

#about,
#portfolio,
#contact,
#other {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3px solid #000000;
  position: relative;
}

#contactInf {
  position: relative;
  left: 5vw;
}

.containerAbout {
  /* display: inline-block;
  position: absolute; */
  display: inline-block;
  flex-wrap: wrap;
  justify-content: start;
  gap: 5%;
}

@media (max-width: 768px) {
  .containerAbout {
    justify-content: start;
    gap: 5%;
  }
}

.contact-form {
  display: inline-block;
  position: relative;
  max-width: 20%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  text-align: left;
  padding-left: 170px;
  margin-bottom: 100px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 20%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  height: 100px;
}

.form-group button {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-group button:hover {
  background-color: #e2ece2;
  color: #000000;
}
@media (max-width: 768px) {
  .form-group input,
  .form-group textarea {
    width: 50%;
    font-size: 12px;
  }
}

/* Разбивка текстового контента на блоки (заметки) */
#note1,
#noteJS,
#noteHTML,
#noteCSS,
#noteProject,
#noteLearning {
  display: inline-block;
  position: relative;
  box-shadow: 5px 5px 10px rgb(111, 19, 240);
  padding: 10px;
  margin-top: 2%;
  background-color: yellow;
  border-radius: 8px;
  width: 250px;
  text-align: left;
  /* justify-items: center; */
}

#note1 h2,
#noteJS h2,
#noteHTML h2,
#noteCSS h2,
#noteProject h2,
#noteLearning h2 {
  margin-top: 0;
  color: #000000;
}

/* Размещение блоков на странице */
#note1 {
  transform: rotate(-20deg);
  left: 5%;
  top: 30px;
}
@media (max-width: 1368px) {
  #note1 {
    left: 22%;
    top: 50px;
    transform: rotate(0deg);
  }
}
#noteJS {
  transform: rotate(10deg);
  left: 12%;
  top: 0px;
}
@media (max-width: 1368px) {
  #noteJS {
    top: 50px;
    left: 22%;
    transform: rotate(0deg);
  }
}
#noteHTML {
  transform: rotate(5deg);
  left: 17%;
  bottom: 70px;
}
@media (max-width: 1368px) {
  #noteHTML {
    top: 50px;
    left: 22%;
    transform: rotate(0deg);
  }
}
#noteCSS {
  transform: rotate(-8deg);
  left: 22%;
  bottom: 120px;
}
@media (max-width: 1368px) {
  #noteCSS {
    top: 50px;
    left: 22%;
    transform: rotate(0deg);
  }
}
#noteProject {
  transform: rotate(-15deg);
  left: 5%;
  top: 300px;
}
@media (max-width: 1368px) {
  #noteProject {
    top: 50px;
    /* left: 10%; */
    transform: rotate(0deg);
  }
}
#noteLearning {
  transform: rotate(8deg);
  left: 15%;
  top: 100px;
}
@media (max-width: 1368px) {
  #noteLearning {
    top: 50px;
    left: 22%;
    transform: rotate(0deg);
  }
}

.explanationHTML,
.explanationJS,
.explanationCSS,
.explanationProj {
  cursor: pointer;
  border: 2px solid black;
  border-radius: 15px;
  width: 60vw;
  font-size: 2vw;
  background-color: yellow;
  opacity: 0;
  transform: scale(0);
  transition: 0.4s;
  box-shadow: 5px 5px 30px black;
  padding: 20px;
  margin: 5vh 20vw 10vw 20vw;
  z-index: 1300;
  position: fixed;
}
@media (max-width: 1368px) {
  .explanationHTML,
  .explanationJS,
  .explanationCSS,
  .explanationProj {
    position: fixed;
    /* margin-left: 1.5%; */
    margin-top: 10%;
    width: 80vw; /* Уменьшить ширину на меньших экранах */
    font-size: 3vw; /* Увеличить размер шрифта на меньших экранах */
  }
}
